h1{
  text-align: center;
}
.bot{
    width:100px;
    height:45px;
    font-weight: 600;
    font-size: 20px;
    color: #00cec9;
    background-color:#2d3436;
    border-radius: 12px;
    border: 1px solid #00cec9;
}
.bot:hover{
   color: white;
   background-color: #81ecec;
 }
nav a{
  color: white;
}
