input {
  font-family: sans-serif;
  color: #black;
  background-color: #bdc3c7;
  border: 0;
}
.pregunta{
 text-decoration:none;
 border: 0;
 resize: none;
 height:100px;
 width:500px;
 background-color: #bdc3c7;
 font-size:25px;
}
.cent{
  text-align: center;
}
.cua{
    width:70%;
    height:auto;
    background:#ecf0f1;
    margin:50px;
    padding:30px;
  }
  .bot3{
      width:200px;
      height:50px;
      font-weight: 600;
      font-size: 25px;
      color: #ffffff;
      background-color:#3498db;
      border-radius: 12px;
      position:absolute;
      left: 42%;
  }
  .bot3:hover{
     color: #ffffff;
     background-color: #74b9ff;
   }
