h2 p.par{
 font-size:100%;
 font-weight:normal;
}
ul li.cont{
 list-style:none;
 margin:15px;
 float:left;
}
ul li a.not{
 text-decoration:none;
 color:#000;
 background:#c7ecee;
 display:block;
 height:500px;
 width:250px;
 padding:1em;
 box-shadow: 10px 10px 10px;
}
hr{
  border:3px solid black;
}
textarea.are1{
   resize: none;
   border: none;
   background: #c7ecee;
   height:40px;
   width:220px;
   outline: none;
   font-family: arial, verdana, ms sans serif;
   font-size: 15pt;
   overflow:auto;
}
textarea.are2{
   resize: none;
   border: none;
   background: #c7ecee;
   height:370px;
   width:220px;
   outline: none;
   font-family: arial, verdana, ms sans serif;
   font-size: 15pt;
   overflow:hidden;
}
.caja1{
  height:30px;
  width:100px;
}
.caja2{
  height:30px;
  width:250px;
}
.bot{
    height:40px;
    width:100px;
}
.bot1{
    height:35px;
    width:225px;
    background:#c7ecee;
    resize: none;
    border: none;
}
